* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hidden {
  display: none;
}

body {
    background: rgb(20, 20, 20) url(../img/main-bg.jpg) center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.background {
  background: rgb(52, 166, 251) url(../img/bg.jpg) center bottom / cover;
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  border-radius: 20px;
  background: url(../img/fireball.png) center center no-repeat / cover;
}

.lava {
  background: rgb(255, 100, 100) url(../img/lava.jpg) repeat;
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background: white url(../img/wall.jpg) repeat 5px 8px;
}

.actor {
  position: absolute;
}

.coin {
  border-radius: 8px;
  background: rgb(241, 229, 89) url(../img/coin.png) no-repeat center center / cover;
}

.player {
  background: url(../img/player.png) center center no-repeat / cover;
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px gold, 4px -7px 8px gold;
}

.game {
  overflow: hidden;
  max-width: 650px;
  max-height: 450px;
  position: relative;
  box-shadow: 0 0 20px 8px blue;
}

@keyframes fireballAnimation {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(-360deg); }
}

.fireball {
  animation: fireballAnimation 800ms infinite linear;
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 120;
}

input {
  border: none;
}

.push-up {
  background: rgba(0, 0, 200, 0);
  position: absolute;
  z-index: 130;
  bottom: 0;
  left: 33.33%;
  width: 33.33vw;
  height: 100vh;
}

.push-left {
  background-color: rgba(0, 0, 200, 0);
  position: absolute;
  z-index: 130;
  bottom: 0;
  left: 0;
  width: 33.33vw;
  height: 100vh;
}

.push-right {
  background-color: rgba(0, 0, 200, 0);
  position: absolute;
  z-index: 130;
  bottom: 0;
  right: 0;
  width: 33.33vw;
  height: 100vh;
}